name: Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Go
        uses: actions/setup-go@v5 # Updated to v5
        with:
          go-version: '1.24.1'
          cache: true # Speeds up subsequent runs

      - name: Run unit tests
        run: go test -v $(go list ./... | grep -v /vendor/) -short 

  integration-tests:
    runs-on: ubuntu-latest
    # Check for secrets presence to prevent failure on forks
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name == github.repository
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24.1'
          cache: true
      
      - name: Run integration tests
        run: go test -v -tags=integration ./...
        env:
          TURSO_URL: ${{ secrets.TURSO_URL }}
          TURSO_KEY: ${{ secrets.TURSO_KEY }}